/* Estilos padrão */
* {
    color: rgb(204, 203, 203);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(34, 32, 32);
}

#desc_dev {
    width: 30%;
    margin-right: 50%;
    padding-left: 4vh;
    padding-right: 4vh;
    position: absolute;
    margin-top: 5%;
}

p {
    text-align: justify;
    font-size: 24px;
    animation: entrada 1s ease forwards;
    opacity: 0;
}

#tit {
    text-align: center;
    font-size: 24px;
    animation: entrada 1s ease forwards;
    opacity: 0;
}

a, #desc_dev p {
    text-align: center;
    animation: entrada 1s ease forwards;
    opacity: 0;
}

@keyframes entrada {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#main_1 {
    width: 50%;
    margin-left: 45%;
}

img {
    width: 60%;
    margin-right: 10%;
    animation: entrada 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}

#pro img {
    width: 45%;
    margin-left: 10%;
}

#pro #calc img {
    width: 45%;
    margin-left: 10%;
}

svg {
    animation: entrada 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}

#contactos {
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectos,
a {
    text-align: center;
}

#projectos,
#contactos {
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    list-style: none;
    margin-top: 3%;
}

#i {
    margin-left: 22%;
}

/* Media query para smartphones */
@media only screen and (max-width: 600px) {
    #desc_dev {
        width: 90%;
        margin: auto;
        position: static;
    }

    #main_1 {
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }

    img, #pro img, #pro #calc img, #i {
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }

    svg {
        width: 50%;
        margin: auto;
        margin-top: 10%;
    }

    #contactos {
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }

    /* Adicionando estilos para exibir as seções em coluna */
    #main_1, #pro, #contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
