*{
    color: rgb(204, 203, 203);
}
body{
    background-color: rgb(34, 32, 32);
}
#desc_dev{

    width: 30%;
    margin-right: 50%;
    padding-left: 4vh;
    padding-right: 4vh;
    position: fixed;
    margin-top: 5%;
}
p{
    text-align: justify;
} 


#main_1{
    width: 50%;
    margin-left: 45%;
}
img{
    width: 60%;
    margin-right: 10%;
}
#pro img{
    width: 45%;
    margin-left: 10%;
}
#pro #calc img{
    width: 45%;
    margin-left: 10%;
}

figure{
    
    justify-content: center;
    display: flex;
}

#contactos {
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#projectos ,a{
    text-align: center;
}
#projectos ,#contactos{
    margin-top: 5%;
    margin-bottom: 5%;
}
li{
   list-style:  none;
    margin-top: 3%;

}